body{
    background-color: antiquewhite;
}
#head{
    position: absolute;
    top:0px;
    background-color:rgb(255, 255, 255);
    width:70%;
    height:30%;
    right:0%;
    left:10;
}
#body{
    position: absolute;
    top: 30%;
    background-color:rgb(226, 226, 226);
    width:70%;
    height:max-content;
    right:0%;
    left:10;
    z-index: 1;     
}
#cards{
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    grid-template-rows: repeat(3,300px);           
    gap: 25px; 
    text-align: center; 
    font-size: larger;
}
#Side{
    color: white;
    position: fixed;
    top:0px;
    background-color:rgb(0, 149, 218);
    width:30%;
    height:100%;
    z-index: 2;
    display: flex;
    flex-direction:column;
    left: 0%;
}
#signup,#login{
    position:absolute;
    border-radius: 2em;
    background-color: rgb(0, 149, 218);
    font-size: medium;
    top: 70%;
    color:white
}
#login{
    right:15%;
}
#signup{
    right:2%;
}
#uploadbtn{
    right:13%;
}
#dashboardbtn{
    position: fixed,absolute;
    left: 3%;
    top: 2.5%;
    color: white;
    width: 40px;
    height:40px;
}
#dashboard{
    position: fixed;
    left: 0%;
    top: 1%;
}
#dashboardbtn,#homebtn,#profilebtn,#messagebtn,#historybtn,#tasksbtn,#communitiesbtn,#settingbtn,#supportbtn,#privacybtn{
    position: fixed;
    left: 0%;
    color: white;
    width: 40px;
    height:30px;
}
#homebtn{
    top: 13%;
}
#profilebtn{
    top: 22%;
}
#messagebtn{
    top: 32%;
}
#historybtn{
    top: 41%;
}
#tasksbtn{
    top: 51%;
}
#communitiesbtn{
    top: 61%;
}
#settingbtn{
    top: 75%;
}
#supportbtn{
    top: 84%;
}
#privacybtn{
    top: 94%;
}
#super, #less, #impossible, #easy, #ad, #money {  
    border: 1px solid black;
    background-color: white; 
    text-align: left; 
    line-height: 50px;
    position: absolute;
    width: 30%;
    border-radius: 10px;
    height: 10%;       
    font-size: small;           
}
#home,
#profile,
#message,
#history,
#tasks,
#communities,
#settings,
#support,
#privacy{
    position:fixed;
    left: 10px;
    font-size: medium;

}
#home{
    top: 13%;
}
#profile{
    top: 22%;
}
#message{
    top: 32%;
}
#history{
    top: 41%;
}
#tasks{
    top: 51%;
}
#communities{
    top: 61%;
}
#settings{
    top: 75%;
}
#support{
    top: 84%;
}
#privacy{
    top: 94%;
}


#super,#impossible,#ad{
    left: 5%;
}
#less,#easy,#money{
    left: 40%;
}
#super,#less{
    top:10%;
}
#impossible,#easy{
    top:30%;
}
#ad,#money{
    top:50%;
}
#par1,#par2,#par3,#par4,#par5,#par6{
    position: absolute;
    font-size: small;
}
#par1,#par3,#par5{
    left:5px;
}
#par2,#par4,#par6{
    left:5px;
}
#par1,#par2{
    top: 20px;
}
#par3,#par4{
    top: 20px;
}
#par5,#par6{
    top: 20px;
}
#favorite,#eye,#source{
    width: 20px;
    height: 20px;
    position: absolute;
}
#favorite{
    right: 35%;
}
#eye{
    right: 20%;
}
#source{
    right: 5%;
}
#search{
    position: absolute;
    top: 20px;
    left: 5%;
    z-index: 4;
    width :30px;
    height: 30px;
}
#head input[type="search"]{
    position:absolute;
    border-radius: 15px;
    width: 50%;
    height: 30px;
    background-color: rgb(231, 231, 231);
    border: 0;
    left:10%;
}
#alert{
    position: absolute;
    top: 20px;
    left: 75%;
    z-index: 4;
    width :30px;
    height: 30px;
}
#mid-right{
    position: absolute;
    top:5%;
    right: 5%;
    width: 20%;
}
#minicards,#mini-cards{
    background-color: white;
    border-radius: 10px;
    border: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}



















